@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Italianno&family=Quicksand:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main_section {
  background-color: pink;
  height: 100vh;
  background: url('./assets/images/main_background.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  .image_overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;

    .welcome_section {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      font-size: 36px;
      position: relative;

      h6 {
        font-size: 18px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        margin-bottom: 18px;
      }

      h5 {
        font-size: 24px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        margin-bottom: 18px;
      }

      h1 {
        font-size: 110px;
        font-family: 'Italianno', cursive;
        font-weight: 400;
      }

      .main_action_button {
        width: 200px;
        height: 46px;
        cursor: pointer;
        background: transparent;
        border: 1px solid white;
        outline: none;
        transition: 1s ease-in-out;
        position: relative;
        margin-top: 38px;

        span {
          color: white;
          font-size: 18px;
          font-weight: 100;
          text-transform: uppercase;
          font-family: 'Quicksand', sans-serif;
        }

        &:hover {
          transition: 1s ease-in-out;
          background: rgba(255, 255, 255, 0.2);

          svg {
            stroke-dashoffset: -600;
          }
        }
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
        fill: none;
        stroke: #fff;
        stroke-dasharray: 150 600;
        stroke-dashoffset: 150;
        transition: 1s ease-in-out;
      }
    }
  }
}
