@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Hurricane&family=Italianno&family=Quicksand:wght@300;400&display=swap');

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main_section {
  background-color: pink;
  height: 100vh;
  background: url('./assets/images/main_background.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  .image_overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;

    .welcome_section {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 36px;
      position: relative;
      color: white;

      h5,
      h5 a {
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        margin-bottom: 6px;
        color: white;
        text-decoration: none;

        @media only screen and (max-width: 600px) {
          font-size: 16px;
        }
      }

      h1 {
        font-size: 110px;
        font-family: 'Hurricane', cursive;
        font-weight: 400;
        margin-bottom: 16px;

        @media only screen and (max-width: 600px) {
          font-size: 58px;
        }
      }

      .main_action_button {
        width: 200px;
        height: 46px;
        cursor: pointer;
        background: transparent;
        border: 1px solid white;
        outline: none;
        transition: 1s ease-in-out;
        position: relative;
        margin-top: 64px;
        animation-name: example;
        animation-iteration-count: infinite;

        span {
          color: white;
          font-size: 18px;
          font-weight: 100;
          text-transform: uppercase;
          font-family: 'Quicksand', sans-serif;
        }

        &:hover {
          transition: 1s ease-in-out;
          background: rgba(255, 255, 255, 0.2);
        }
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
        fill: none;
        stroke: #fff;
        stroke-dasharray: 150 600;
        @include keyframes(lightning) {
          0% {
            stroke-dashoffset: 150;
          }
          60% {
            stroke-dashoffset: -600;
          }
          100% {
            stroke-dashoffset: -600;
          }
        }
        @include animate(lightning, 3s, ease-in-out, infinite);
      }
    }
  }
}
